<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission (if needed) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="helpstudent"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Normal Theme while Flutter loads -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Splash Screen Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter Engine Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- FileProvider for opening generated PDF -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.content.FileProvider"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <!-- Queries to allow interaction with other apps (e.g., PDF viewers) -->
    <queries>
        <!-- For text processing (Flutter internal use) -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- For viewing PDF files -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>

        <!-- For general file sharing -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>

        <!-- For selecting documents -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>

</manifest>